body{
  text-align: justify;
  background-repeat: repeat;
  background-color: #fee7ff;
  background-image: linear-gradient(180deg, transparent, #d8a2ff);
}

#propic{
  height:100px;
  width: 100px;
  border-radius: 20%;
  position:absolute;
  top: calc(25% - 60px);
  left:50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  box-shadow:0px 0px 10px #f1b2f5;
}

@keyframes rounding-spin{
  from {transform: translate(-50%,-50%) rotate(0deg); border-radius: 20px}
  to {transform: translate(-50%,-50%) rotate(-360deg); border-radius:100% }
}

@keyframes spin{
  from: {transform: rotate(0deg); border-radius: 20px}
  to {transform: rotate(360deg); border-radius: 100px}
}

#propic:hover{
  animation: rounding-spin 1.5s ease-in-out infinite;
}

#box{
  height:110px;
  width: 370px;
  border-radius: 20px;
  position:absolute;
  left:50%;
  top: 25%;
  transform: translate(-50%,-50%);
  box-shadow:0px 0px 10px #f1b2f5;
  background-color: white;
}

.text{
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  color: #484848;
  padding-top: 5px;
}

#title{
  margin-top:65px;
}

h1{
  font-size: 16pt;
  letter-spacing: 1.5;
}

h2{
  font-size:12pt;
}

#content-box{
  text-align: center;
  width:600px;
  position:absolute;
  left:50%;
  top: calc(25% + 70px);
  transform: translateX(-50%);
  background-color: white;
  box-shadow:0px 0px 10px #f1b2f5;
  border-radius: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.toggle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position:absolute;
  top: calc(25% - 85px);
  left: calc(50% - 170px);
  transform:translate(-50%, -50%);
  background-color: #a7b3ff;
  border: 5px solid #a7b3ff;
  box-shadow:0px 0px 10px #7a9fc1;
}

@keyframes pulse {
  from {transform: translate(-50%, -50%) scale(1);}
  to {transform: translate(-50%, -50%) scale(1.2);}
}

.toggle:hover{
  animation: pulse 0.5s ease-in-out infinite alternate;
}

#nav-box{
  width:100px;
  height:30px;
  position:absolute;
  top:calc(25% - 85px);
  left:calc(50% + 120px);
  transform:translate(-50%, -50%);
}

.icon{
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 20%;
  background-color: #a7b3ff;
  border: 5px solid #a7b3ff;
}
.icon img{
  height: 20px;
  width: 20px;
}

.icon:hover{
     background-color: #caa5ff;
     border: 5px solid #caa5ff;
     box-shadow:0px 0px 10px #7a9fc1;
     animation: spin 1s ease-in-out infinite;
}

#about{
  text-align: justify;
  width:500px;
  padding-left: 50px;
}

p{
  font-family: "Raleway", Arial, sans-serif;
  font-size: 9pt;
  margin-top: 0px;
  margin-bottom: 5px;
  color: #484848;
}

h3{
  font-family: "Raleway", Arial, sans-serif;
  font-size: 14pt;
  text-align: center;
  margin-top: 0px;
  font-weight: normal;
  letter-spacing: 1.5;
  color: #484848;
}

#contacts img{
  width:310px;
  margin-top: 5px;
}

#piclarge{
  width:480px;
  border-radius: 20px;
}

#scrollbar{
  width: 60px;
  height: 240px;
  overflow-x: hidden;
  padding-left: 15px;
  float:left;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffbf02;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #f1eeee;
  border-radius: 100px;
}

#scrollbar img{
  object-fit: cover;
  height: 50px;
  width: 50px;
  overflow-y: hidden;
  padding: 1px;
  border-radius: 20%;
}
